# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
S3_BUCKET=consigncrew-images
CF_DOMAIN=cdn.consigncrew.com

# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/consigncrew"

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000

# BetterAuth Configuration
BETTER_AUTH_SECRET=your_betterauth_secret
BETTER_AUTH_URL=http://localhost:3000 