# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
S3_BUCKET=consigncrew
NEXT_PUBLIC_CDN_URL=https://your-cloudfront-domain.cloudfront.net
CLOUDFRONT_DISTRIBUTION_ID=your-distribution-id
CLOUDFRONT_KEY_PAIR_ID=your-key-pair-id
CLOUDFRONT_PRIVATE_KEY=your-private-key-content

# AWS SES Email Configuration
AWS_SES_DEFAULT_FROM_EMAIL=no-reply@treasurehub.club
CONTACT_FORM_EMAIL=support@treasurehub.club
AWS_SES_CONFIGURATION_SET=treasurehub-deliverability

# Database Configuration
DATABASE_URL="postgresql://username:password@localhost:5432/consigncrew"

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000

# BetterAuth Configuration
BETTER_AUTH_SECRET=your_betterauth_secret
BETTER_AUTH_URL=http://localhost:3000

# Mailchimp Configuration
MAILCHIMP_API_KEY=your_mailchimp_api_key_here
MAILCHIMP_AUDIENCE_ID=your_mailchimp_audience_id_here
MAILCHIMP_SERVER_PREFIX=your_server_prefix_here


